@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


body {
    margin: 0px;
    padding: 30px;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    background: #313131;
}

canvas {
    box-shadow: -3px 2px 9px 6px black;
    cursor: pointer;
}

.tools {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 15px;
}

.tools .color-field {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid white;
    align-self: center;
    margin: 0px 4px;
}

.tools .button {
    align-self: center;
    width: 100px;
    height: 40px;
    border: 2px solid white;
    cursor: pointer;
    color: white;
    background: #222;
    font-weight: bold;
    margin: 0px 6px;
}

.color-picker {
    align-self: center;
    margin: 0px 6px;
    height: 40px;
    width: 55px;
    min-width: 40px;
}

.pen-range {
    align-self: center;
    margin: 0px 6px;
}

.button-highlighted {
    background: #ffcc00;
    color: #222;
    /* Text color for highlighted button */
    box-shadow: 0px 0px 6px 2px rgba(255, 246, 246, 0.3);
    transform: scale(1.15);

}

.button:hover {
    background-color: #555;
    /* Change the background color on hover */
}

.button:active {
    background-color: #888;
    /* Change the background color when clicked */
}





@media screen and (max-width: 820px) {

    .tools {
        display: flex;
        flex-direction: column;
    }

    .tools .button {
        margin: 5px 0px;
    }

    .color-picker {
        margin: 5px 0px;
    }

    .tools .color-field {
        margin: 5px 0px;
    }

    .pen-range {
        margin: 5px 0px;
    }

    .colorscombo {
        display: flex;
        justify-content: center;
        margin: 5px 0px;
    }
}